.nav {
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    align-items: center;
    -webkit-align-items: center;

    min-width: 1024px;
    padding-left: 10%;
    padding-right: 10%;
    background: #000;
}