.menu__link,
.menu__link:active,
.menu__link:visited {
    background: #444;
    border: 1px solid black;
    box-sizing: border-box;
    color: white;
    display: block;
    font: bold 13px Arial;
    line-height: 30px;
    padding: 0 5px;
    text-decoration: none;
    width: 100%;
}

.menu__link:hover {
    color: black;
    background: white;
}
