.menu__link,
.menu__link:visited {
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font: 13px Arial;
    padding: 10px 13px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link:hover,
.menu__link:active {
    background: darkred;
}
