.reviews-container {
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    margin-top: 60px;
}

@media screen and (max-width: 960px) {
    .reviews-container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}