.social-media-bar {
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-align-items: center;
    align-items: center;

    padding: 25px 10%;
    background: #fff;

    -webkit-box-shadow: 0 0 5px #9a9a9a;
    -moz-box-shadow: 0 0 5px #9a9a9a;
    -o-box-shadow: 0 0 5px #9a9a9a;
    box-shadow: 0 0 5px #9a9a9a;
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 960px) {
    .social-media-bar {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}