.review__quote {
    position: relative;
    padding: 25px 10px;
    font: italic 14px/1.5 'Open Sans', Arial, sans-serif;
    background: #f5f5f5;
    color: #8b8b8b;
}

.review__quote::after {
    position: absolute;
    left: 35px;
    top: 100%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f5f5f5;
    border-bottom: none;
    content: "";
}