.login-form {
    box-sizing: border-box;
    max-width: 360px;

    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;

    margin-left: 20%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -o-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;

    background: #fff;
}

@media screen and (max-width: 960px) {
    .login-form {
        width: 100%;
        max-width: none;
        margin: 45px 0 0;
    }
}