.burger_changed .burger__strip_position_bottom {
    -webkit-transform: rotate(45deg) translate(-3px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}