.feature__description_position_right {
    margin-left: 18%;
}

@media screen and (max-width: 960px) {
    .feature__description_position_right {
        margin-top: 30px;
        margin-left: 0;
    }
}