.header {
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-align-items: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 960px) {
    .header {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}