.burger__strip {
    width: 36px;
    height: 5px;
    background: #b0b0b0;
    margin: 5px 0;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.burger:hover .burger__strip,
.burger_changed:hover .burger__strip{
    background: #ff8b38;
}

.burger_changed .burger__strip {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}